@{
    ViewBag.Subtitulo = "Página Principal";
}

<h1 class="text-primary">Bem vindo ao <b>EstoqueWeb</b></h1>
<hr>
<p>Essa aplicação é para gerenciar seu estoque de produtos. Use o Menu Superior para acessar os recursos da sua aplicação</p>